<footer class="main-footer">

  {% assign linklistCount = 0 %}
  {% for i in (1..3) %}
    {% capture linklistOption %}footer-linklist-{{ i }}{% endcapture %}
    {% capture linklist %}{{ settings[linklistOption] }}{% endcapture %}

    {% if linklist.size > 0 %}
      {% assign linklistCount = linklistCount | plus: 1 %}
    {% endif %}
  {% endfor %}

  {% if settings.mailing-list or linklistCount > 0 or settings.footer-text-content != blank %}
    <div class="upper-footer">

      {% if settings.footer-text-content != blank %}
        <div class="footer-blurb">
          {% if settings.footer-headers %}
            <h4 class="section-title">{{ settings.footer-text-title }}</h4>
          {% endif %}
          <div class="rte">{{ settings.footer-text-content }}</div>
        </div>
      {% endif %}

      {% for i in (1..3) %}

        {% capture linklistOption %}footer-linklist-{{ i }}{% endcapture %}
        {% capture linklist %}{{ settings[linklistOption] }}{% endcapture %}

        {% if linklists[linklist].links.size > 0 %}
          <div class="footer-linklist">
            {% if settings.footer-headers %}
              <h4 class="section-title">{{ linklists[linklist].title }}</h4>
            {% endif %}

            <ul>
              {% for link in linklists[linklist].links %}
                <li><a class="{% include 'social-check' %}" href="{{ link.url }}" {% if link.url contains 'http://' or link.url contains 'https://' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

      {% endfor %}

      {% if settings.mailing-list %}
        <div class="mailing-list">

          {% if settings.footer-headers %}
            <h4 class="section-title">{{ settings.mailing-list-title }}</h4>
          {% endif %}

          {% if settings.mailing-list-platform == 'mailchimp' or settings.mailing-list-platform == 'campaign-monitor' %}
            <form action="{{ settings.mailing-list-action-url }}" method="post" name="{% if settings.mailing-list-platform == 'mailchimp' %}mc-embedded-subscribe-form{% endif %}" target="_blank">

              {% if settings.mailing-list-platform == 'mailchimp' %}
                <input class="mailing-list-email" name="EMAIL" type="email" placeholder="your@email.com" value="">
              {% endif %}

              {% if settings.mailing-list-platform == 'campaign-monitor' %}
                <input id="fieldEmail" class="mailing-list-email" name="{{ settings.campaign-monitor-name }}" type="email" placeholder="{{ 'general.general.email_placeholder' | t }}" required />
              {% endif %}

              <div class="mailing-list-submit">
                <input class="submit" name="subscribe" type="submit" value="{{ 'layout.footer.newsletter_subscribe' | t }}">
              </div>

            </form>
          {% else %}

            {% form 'customer' %}
              <input class="mailing-list-email" name="contact[email]" type="email" placeholder="your@email.com" value="">
              <input type="hidden" id="contact_tags" name="contact[tags]" value="prospect,newsletter"/>
              <div class="mailing-list-submit">
                <input class="submit" name="subscribe" type="submit" value="{{ 'layout.footer.newsletter_subscribe' | t }}">
              </div>
            {% endform %}

            <div class="modal-wrapper modal-mailing-list">
              <div class="modal">
                <h3 class="section-title">{{ settings.mailing-list-modal-title }}</h3>
                <p>{{ settings.mailing-list-modal-description }}</p>
                <span class='button dismiss'>{{ settings.mailing-list-modal-button-text }}</span>
              </div>
            </div>

          {% endif %}

        </div>
      {% endif %}

    </div>
  {% endif %}

  <div class="sub-footer">
    {% if shop.enabled_payment_types.size > 0 and settings.footer-payment-options %}
      <ul class="payment-options">
        {% for type in shop.enabled_payment_types %}
          <li class="payment-icon {{ type | replace: '_','-' }}"></li>
        {% endfor %}
      </ul>
    {% endif %}

    {% capture year %}
      {{ "now" | date: "%Y" }}
    {% endcapture %}
    <div class="copyright-wrapper">
      <p class="copyright" role="contentinfo">{{ 'layout.footer.copyright_html' | t: year: year, shop_name: shop.name }}</p>
      <p class="attribution">Grid theme by <a href="http://pixelunion.net">Pixel Union</a>. {{ powered_by_link | replace: "shopify.com", "shopify.com/?ref=pixel-union" }}.</p>
    </div>
  </div>

</footer>
