
<style>
  .announcement-bar {
    background-color: {{ section.settings.announcement_bar_color }};
    text-align: center;
    text-decoration: none;
  }
  .announcement-bar__message {
    font-size: {{ section.settings.font_size }};
    padding: {{ section.settings.size|times:10 }}px;
    margin: 0px;
    color: {{ section.settings.announcement_bar_text_color }};
  }
  .announcement-bar__close {
    display: fixed;
    right: 10px;
    color: {{ section.settings.announcement_bar_text_color }};
  }
  
</style>  

{%- if section.settings.show_announcement -%}
  {%- if section.settings.home_page_only == false or template.name == 'index' -%}

      <div class="announcement-bar">

        <p class="announcement-bar__message">{{ section.settings.text | escape }}</p>

      </div>

  {%- endif -%}
{%- endif -%}

{% schema %}
{
  "name": "Announcement bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": "Show announcement",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "home_page_only",
      "label": "Home page only",
      "default": true
    },
    {
      "type": "text",
      "id": "text",
      "label": "Announcement text",
      "default": "Announce something here"
    },
	{
   		"type": "select",
   		"id": "font_size",
   		"options": [
      		{ "value": "small", "label": "Small"},
      		{ "value": "medium", "label": "Medium"},
      		{ "value": "large", "label": "Large"}
   		],
		"default": "medium",
   		"label": "Font Size"
	},
    {
      "type": "color",
      "id": "announcement_bar_color",
      "label": "Background color",
      "default": "#000000"
    },
	{
      "type": "color",
      "id": "announcement_bar_text_color",
      "label": "Text color",
      "default": "#ffffff"
    },
	{
		"type": "range",
		"id": "size",
		"label": "Size",
		"min": 0,
		"max": 5,
		"step": 1,
		"default": 1
	}
  ]
}
{% endschema %}