<div class="section-showcase">
  {% if page.handle == section.settings.page-handle %}
  
  <h3 class="section-showcase-title">
    {{ section.settings.title }}
  </h3>
 
  <p class="section-showcase-description">   
    {{ section.settings.description | newline_to_br }}
  </p> 

  {% for block in section.blocks %}
  <div {{ block.shopify_attributes }}>
    {% case block.type %}
    {% when 'showcase-row' %}
    <div class="section-showcase-row">
      <div class="section-showcase-content">
      	<img src="{{ block.settings.img | img_url: 'master' }}">
        <div>
          <label>{{ block.settings.title }}</label>
        </div>
      </div>
    </div>
    {% when 'showcase-row-big-small' %}
    <div class="section-showcase-row">
      <div class="section-showcase-content split-left split-big">
      	<img src="{{ block.settings.img0 | img_url: 'master' }}">
      </div>
      <div class="section-showcase-content split-right split-small">
      	<img src="{{ block.settings.img1 | img_url: 'master' }}">
      </div>
    </div>
    {% when 'showcase-row-small-big' %}
    <div class="section-showcase-row">
      <div class="section-showcase-content split-left split-small">
      	<img src="{{ block.settings.img0 | img_url: 'master' }}">
      </div>
      <div class="section-showcase-content split-right split-big">
      	<img src="{{ block.settings.img1 | img_url: 'master' }}">
      </div>
    </div>
    {% when 'showcase-row-3' %}
    <div class="section-showcase-row">
      <div class="section-showcase-content split-left">
      	<img src="{{ block.settings.img0 | img_url: 'master' }}">
      </div>
      <div class="section-showcase-content split">
      	<img src="{{ block.settings.img1 | img_url: 'master' }}">
      </div>
      <div class="section-showcase-content split">
      	<img src="{{ block.settings.img2 | img_url: 'master' }}">
      </div>
    </div>
    {% when 'showcase-row-products' %}
    <div class="section-showcase-row products">
    {% assign product = all_products[block.settings.prod0] %}
      {% include 'product-list-item' product %}
    {% assign product = all_products[block.settings.prod1] %}
      {% include 'product-list-item' product %}
    {% assign product = all_products[block.settings.prod2] %}
      {% include 'product-list-item' product %}
    </div>
    {% endcase %}
  </div>
  {% endfor %}
  
  <div  style="padding-bottom: 30px;"/>
  {% endif %}
</div>


{% stylesheet %}
<style>
  .section-showcase {
    width: 100%;
  }
  
  .section-showcase-title {
    font-family: "Josefin Sans";
    font-weight: 300;
    font-size: 36px;
    letter-spacing: 0.4px;
    margin: 0px;
  }
  
  .section-showcase-description {
    font-family: "Cardo";
    font-weight: 400;
    font-size: 20px;
    margin: 8px 0px 16px 0px;
  }
  
  .section-showcase-images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-around;
  }
  
  .section-showcase-row {
    padding: 8.5px 0px;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-around;
  }
  
  .section-showcase-row.products {
    margin: -20px;
  }
  
  .section-showcase-content {
    display: flex;
    overflow: hidden;
  }
  .section-showcase-content > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .split {
    padding: 0px 7px;
  }
  
  .split-left {
    padding-right: 7px;
  }
  
  .split-right {
    padding-left: 7px;
  }
  
  .split-small {
    flex: 2;
  }
  
  .split-big {
    flex: 3;
  }
  
</style>
{% endstylesheet %}

{% schema %}
{
  "name": "Showcase",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "label": "Title",
      "default": "Title"
    },
    {
      "id": "description",
      "type": "textarea",
      "label": "Description",
      "default": "Description"
    },
	{
		"id": "page-handle",
		"type": "text",
		"label": "Page-Handle"
	}
  ],

	"blocks": [
		{
			"type": "showcase-row",
			"name": "One Image",
			"settings": [
    			{
      				"id": "img",
      				"type": "image_picker",
      				"label": "Image"
    			},
				{
					"id": "title",
					"type": "text",
					"label": "Title"
				},
				{
   					"id":        "title-position",
   					"type":      "select",
   					"label":     "Title Position",
   					"options": [
    				{
       					"group": "position",
       					"value": "top",
       					"label": "Top"
     				},
     				{
       					"group": "position",
       					"value": "bottom",
       					"label": "Bottom"
     				}
   					],
   					"default":   "top"
				}
			]
		},
		{
			"type": "showcase-row-big-small",
			"name": "Two Images - Big Small",
			"settings": [
    			{
      				"id": "img0",
      				"type": "image_picker",
      				"label": "Big Image"
    			},
    			{
      				"id": "img1",
      				"type": "image_picker",
      				"label": "Small Image"
    			}
			]
		},
		{
			"type": "showcase-row-small-big",
			"name": "Two Images - Small Big",
			"settings": [
    			{
      				"id": "img0",
      				"type": "image_picker",
      				"label": "Small Image"
    			},
    			{
      				"id": "img1",
      				"type": "image_picker",
      				"label": "Big Image"
    			}
			]
		},
		{
			"type": "showcase-row-3",
			"name": "Three Images",
			"settings": [
    			{
      				"id": "img0",
      				"type": "image_picker",
      				"label": "Image 1"
    			},
    			{
      				"id": "img1",
      				"type": "image_picker",
      				"label": "Image 2"
    			},
    			{
      				"id": "img2",
      				"type": "image_picker",
      				"label": "Image 3"
    			}
			]
		},
		{
			"type": "showcase-row-products",
			"name": "Products",
			"settings": [
    			{
      				"id": "prod0",
      				"type": "text",
      				"label": "Product one",
					"default": "product handle"
    			},
    			{
      				"id": "prod1",
      				"type": "text",
      				"label": "Product two",
					"default": "product handle"
    			},
    			{
      				"id": "prod2",
      				"type": "text",
      				"label": "Product three",
					"default": "product handle"
    			}
			]
		}
	],

  "presets": [
    {
      "name": "Showcase",
      "category": "Showcase",
	  "blocks": [
	  ]
    }
  ]
}
{% endschema %}

{% javascript %}
{% endjavascript %}