
@font-face {
  font-family: 'chiko-icons';
  src:url("//cdn.shopify.com/s/files/1/0797/2019/t/17/assets/chiko-icons.eot?v=1319795454935716698");
  src:url("//cdn.shopify.com/s/files/1/0797/2019/t/17/assets/chiko-icons.eot?%23iefix&v=1319795454935716698") format("embedded-opentype"),
    url("//cdn.shopify.com/s/files/1/0797/2019/t/17/assets/chiko-icons.woff?v=1266665015690105933") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Social Icons';
  src: url('//cdn.shopify.com/s/files/1/0797/2019/t/17/assets/pixelunionsocialicons-regular.eot?v=6715279933360782047');
  src: url('//cdn.shopify.com/s/files/1/0797/2019/t/17/assets/pixelunionsocialicons-regular.eot?%23iefix&v=6715279933360782047') format('embedded-opentype'),
       url('//cdn.shopify.com/s/files/1/0797/2019/t/17/assets/pixelunionsocialicons-regular.woff?v=16634645024483797044') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'payment-icons';
  src:url("//cdn.shopify.com/s/files/1/0797/2019/t/17/assets/payment-icons.eot?v=106950672080432723");
  src:url("//cdn.shopify.com/s/files/1/0797/2019/t/17/assets/payment-icons.eot?%23iefix&v=106950672080432723") format("embedded-opentype"),
    url("//cdn.shopify.com/s/files/1/0797/2019/t/17/assets/payment-icons.woff?v=11733064193897845084") format("woff");
  font-weight: normal;
  font-style: normal;
}

.payment-icon {
  font-family: 'payment-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.forbrugsforeningen:before {
  content: "\e600";
}
.dankort:before {
  content: "\e601";
}
.solo:before {
  content: "\e602";
}
.laser:before {
  content: "\e603";
}
.dwolla:before {
  content: "\e604";
}
.amazon:before {
  content: "\f000";
}
.american-express:before {
  content: "\f001";
}
.american-express-2:before {
  content: "\f002";
}
.atm:before {
  content: "\f003";
}
.bankomat:before {
  content: "\f004";
}
.bank-transfer:before {
  content: "\f005";
}
.bitcoin:before {
  content: "\f006";
}
.bitcoin-2:before {
  content: "\f007";
}
.braintree:before {
  content: "\f008";
}
.bitcoin-3:before {
  content: "\f009";
}
.uniF00A:before {
  content: "\f00a";
}
.carta-si:before {
  content: "\f00b";
}
.uniF00C:before {
  content: "\f00c";
}
.cash-on-delivery:before {
  content: "\f00d";
}
.uniF00E:before {
  content: "\f00e";
}
.cirrus:before {
  content: "\f00f";
}
.cirrus-2:before {
  content: "\f010";
}
.click-and-buy:before {
  content: "\f011";
}
.uniF012:before {
  content: "\f012";
}
.diners:before {
  content: "\f013";
}
.discover:before {
  content: "\f014";
}
.uniF015:before {
  content: "\f015";
}
.eps:before {
  content: "\f016";
}
.euro:before {
  content: "\f017";
}
.facture:before {
  content: "\f018";
}
.fattura:before {
  content: "\f019";
}
.flattr:before {
  content: "\f01a";
}
.giro-pay:before {
  content: "\f01b";
}
.git-tip:before {
  content: "\f01c";
}
.google-wallet:before {
  content: "\f01d";
}
.google-wallet-2:before {
  content: "\f01e";
}
.pound:before {
  content: "\f01f";
}
.ideal:before {
  content: "\f020";
}
.uniF021:before {
  content: "\f021";
}
.uniF022:before {
  content: "\f022";
}
.invoice:before {
  content: "\f023";
}
.uniF024:before {
  content: "\f024";
}
.uniF025:before {
  content: "\f025";
}
.uniF026:before {
  content: "\f026";
}
.uniF027:before {
  content: "\f027";
}
.jcb:before {
  content: "\f028";
}
.yen:before {
  content: "\f029";
}
.uniF02A:before {
  content: "\f02a";
}
.maestro:before {
  content: "\f02b";
}
.maestro-2:before {
  content: "\f02c";
}
.master:before {
  content: "\f02d";
}
.master-2:before {
  content: "\f02e";
}
.master-secure:before {
  content: "\f02f";
}
.ogone:before {
  content: "\f030";
}
.pay-box:before {
  content: "\f031";
}
.paypal:before {
  content: "\f033";
}
.paypal-2:before {
  content: "\f034";
}
.paysafe:before {
  content: "\f035";
}
.poste-pay:before {
  content: "\f036";
}
.quick:before {
  content: "\f037";
}
.rechnung:before {
  content: "\f038";
}
.ripple:before {
  content: "\f039";
}
.uniF03A:before {
  content: "\f03a";
}
.skrill:before {
  content: "\f03b";
}
.sofort:before {
  content: "\f03c";
}
.square:before {
  content: "\f03d";
}
.stripe:before {
  content: "\f03e";
}
.truste:before {
  content: "\f03f";
}
.uniF040:before {
  content: "\f040";
}
.union-pay:before {
  content: "\f041";
}
.uniF042:before {
  content: "\f042";
}
.visa-verified:before {
  content: "\f043";
}
.verisign:before {
  content: "\f044";
}
.visa:before {
  content: "\f045";
}
.visa-electron:before {
  content: "\f046";
}
.western-union:before {
  content: "\f047";
}
.western-union-2:before {
  content: "\f048";
}
.wire-card:before {
  content: "\f049";
}



/* Sans Serif */




  @import url('//fonts.googleapis.com/css?family=Karla:400italic,700italic,400,700');
















/* Condensed Sans Serif */









/* Geometric Sans Serif */



/* Serif */























/* Slab Serif */













/* User Settings
------------------------- */

/* General */


  $logo-height: 120px;



  $body-background-image: none;
  $body-background-image-retina: none;
  $body-background-image-size: 0 0;


$body-background-color: #ffffff;

$body-color: #5c5c5c;
$accent-color: #8a8a8a;
$heading-color: #373737;
$meta-color: #5c5c5c;
$error-color: #d60000;
$border-color: #9c9c9c;
$logo-color: #373737;
$product-item-badge-background-color: #222222;
$alternative-index-layout-title-color: #ffffff;

$primary-button-color: #ffffff;
$secondary-button-background: #bbc2c2;
$secondary-button-color: #8b8b8b;
$disabled-button-background: #bdbfc0;
$disabled-button-color: #5c5c5c;

$form-select-background: #ffffff;
$form-select-color: #5c5c5c;
$form-select-border: #fffbfb;

/* Fonts */

$body-font: Karla, sans-serif;

$store-title-font: Karla, sans-serif;
$store-title-weight: 400;

$heading-font: Karla, sans-serif;
$heading-weight: 400;

$navigation-font: Karla, sans-serif;
$navigation-weight: 400;

$meta-font: Karla, sans-serif;
$meta-weight: 400;

$button-font: Karla, sans-serif;
$button-weight: 400;

/* Section specific
------------------------- */

/* Header */

$header-tools-color: #373737;
$header-tools-background-color: #e6e6e6;
$navigation-color: #373737;

/* Slideshow */

$slide-1-overlay-color: #fffafa;
$slide-2-overlay-color: #ffffff;
$slide-3-overlay-color: #494245;
$slide-4-overlay-color: #494245;
$slide-5-overlay-color: #494245;
$slide-colors: $slide-1-overlay-color, $slide-2-overlay-color, $slide-3-overlay-color, $slide-4-overlay-color, $slide-5-overlay-color;

//************************************************************************//
// Prefixer
//************************************************************************//

// Variable settings for /addons/prefixer.scss
$prefix-for-webkit:    true !default;
$prefix-for-mozilla:   true !default;
$prefix-for-microsoft: true !default;
$prefix-for-opera:     true !default;
$prefix-for-spec:      true !default; // required for keyframe mixin

@mixin prefixer ($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    @if $prefix == webkit {
      @if $prefix-for-webkit {
        -webkit-#{$property}: $value;
      }
    }
    @else if $prefix == moz {
      @if $prefix-for-mozilla {
        -moz-#{$property}: $value;
      }
    }
    @else if $prefix == ms {
      @if $prefix-for-microsoft {
        -ms-#{$property}: $value;
      }
    }
    @else if $prefix == o {
      @if $prefix-for-opera {
        -o-#{$property}: $value;
      }
    }
    @else if $prefix == spec {
      @if $prefix-for-spec {
        #{$property}: $value;
      }
    }
    @else  {
      @warn "Unrecognized prefix: #{$prefix}";
    }
  }
}

@mixin disable-prefix-for-all() {
  $prefix-for-webkit:    false;
  $prefix-for-mozilla:   false;
  $prefix-for-microsoft: false;
  $prefix-for-opera:     false;
  $prefix-for-spec:      false;
}

//************************************************************************//
// Transitions
//************************************************************************//

// Shorthand mixin. Supports multiple parentheses-deliminated values for each variable.
// Example: @include transition (all 2s ease-in-out);
//          @include transition (opacity 1s ease-in 2s, width 2s ease-out);
//          @include transition-property (transform, opacity);

@mixin transition ($properties...) {
  // Fix for vendor-prefix transform property
  $needs-prefixes: false;
  $webkit: ();
  $moz: ();
  $spec: ();

  // Create lists for vendor-prefixed transform
  @each $list in $properties {
    @if nth($list, 1) == "transform" {
      $needs-prefixes: true;
      $list1: -webkit-transform;
      $list2: -moz-transform;
      $list3: ();

      @each $var in $list {
        $list3: join($list3, $var);

        @if $var != "transform" {
          $list1: join($list1, $var);
          $list2: join($list2, $var);
        }
      }

      $webkit: append($webkit, $list1);
         $moz: append($moz,    $list2);
        $spec: append($spec,   $list3);
    }

    // Create lists for non-prefixed transition properties
    @else {
      $webkit:  append($webkit, $list, comma);
      $moz:     append($moz,    $list, comma);
      $spec:    append($spec,   $list, comma);
    }
  }

  @if $needs-prefixes {
    -webkit-transition: $webkit;
       -moz-transition: $moz;
            transition: $spec;
  }
  @else {
    @if length($properties) >= 1 {
      @include prefixer(transition, $properties, webkit moz spec);
    }

    @else {
      $properties: all 0.15s ease-out 0s;
      @include prefixer(transition, $properties, webkit moz spec);
    }
  }
}

@mixin transition-property ($properties...) {
   -webkit-transition-property: transition-property-names($properties, 'webkit');
      -moz-transition-property: transition-property-names($properties, 'moz');
           transition-property: transition-property-names($properties, false);
}

@mixin transition-duration ($times...) {
  @include prefixer(transition-duration, $times, webkit moz spec);
}

@mixin transition-timing-function ($motions...) {
// ease | linear | ease-in | ease-out | ease-in-out | cubic-bezier()
  @include prefixer(transition-timing-function, $motions, webkit moz spec);
}

@mixin transition-delay ($times...) {
  @include prefixer(transition-delay, $times, webkit moz spec);
}

//************************************************************************//
// Transforms
//************************************************************************//

@mixin transform($property: none) {
//  none | <transform-function>
  @include prefixer(transform, $property, webkit moz ms o spec);
}

@mixin transform-origin($axes: 50%) {
// x-axis - left | center | right  | length | %
// y-axis - top  | center | bottom | length | %
// z-axis -                          length
  @include prefixer(transform-origin, $axes, webkit moz ms o spec);
}

@mixin transform-style ($style: flat) {
  @include prefixer(transform-style, $style, webkit moz ms o spec);
}

//************************************************************************//
// Animations
//************************************************************************//

// http://www.w3.org/TR/css3-animations/#the-animation-name-property-
// Each of these mixins support comma separated lists of values, which allows different transitions for individual properties to be described in a single style rule. Each value in the list corresponds to the value at that same position in the other properties.

// Official animation shorthand property.
@mixin animation ($animations...) {
  @include prefixer(animation, $animations, webkit moz spec);
}

// Individual Animation Properties
@mixin animation-name ($names...) {
  @include prefixer(animation-name, $names, webkit moz spec);
}


@mixin animation-duration ($times...) {
  @include prefixer(animation-duration, $times, webkit moz spec);
}


@mixin animation-timing-function ($motions...) {
// ease | linear | ease-in | ease-out | ease-in-out
  @include prefixer(animation-timing-function, $motions, webkit moz spec);
}


@mixin animation-iteration-count ($values...) {
// infinite | <number>
  @include prefixer(animation-iteration-count, $values, webkit moz spec);
}


@mixin animation-direction ($directions...) {
// normal | alternate
  @include prefixer(animation-direction, $directions, webkit moz spec);
}


@mixin animation-play-state ($states...) {
// running | paused
  @include prefixer(animation-play-state, $states, webkit moz spec);
}


@mixin animation-delay ($times...) {
  @include prefixer(animation-delay, $times, webkit moz spec);
}


@mixin animation-fill-mode ($modes...) {
// none | forwards | backwards | both
  @include prefixer(animation-fill-mode, $modes, webkit moz spec);
}

// Adds keyframes blocks for supported prefixes, removing redundant prefixes in the block's content
@mixin keyframes($name) {
  $original-prefix-for-webkit:    $prefix-for-webkit;
  $original-prefix-for-mozilla:   $prefix-for-mozilla;
  $original-prefix-for-microsoft: $prefix-for-microsoft;
  $original-prefix-for-opera:     $prefix-for-opera;
  $original-prefix-for-spec:      $prefix-for-spec;

  @if $original-prefix-for-webkit {
    @include disable-prefix-for-all();
    $prefix-for-webkit: true;
    @-webkit-keyframes #{$name} {
      @content;
    }
  }
  @if $original-prefix-for-mozilla {
    @include disable-prefix-for-all();
    $prefix-for-mozilla: true;
    @-moz-keyframes #{$name} {
      @content;
    }
  }

  $prefix-for-webkit:    $original-prefix-for-webkit;
  $prefix-for-mozilla:   $original-prefix-for-mozilla;
  $prefix-for-microsoft: $original-prefix-for-microsoft;
  $prefix-for-opera:     $original-prefix-for-opera;
  $prefix-for-spec:      $original-prefix-for-spec;

  @if $original-prefix-for-spec {
    @keyframes #{$name} {
      @content;
    }
  }
}

//************************************************************************//
// Placeholders
//************************************************************************//

@mixin placeholder {
  $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}

//************************************************************************//
// Opacity
//************************************************************************//

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

//************************************************************************//
// Transform-style
//************************************************************************//

@mixin transform($property: none) {
//  none | <transform-function>
  @include prefixer(transform, $property, webkit moz ms o spec);
}

@mixin transform-origin($axes: 50%) {
// x-axis - left | center | right  | length | %
// y-axis - top  | center | bottom | length | %
// z-axis -                          length
  @include prefixer(transform-origin, $axes, webkit moz ms o spec);
}

@mixin transform-style ($style: flat) {
  @include prefixer(transform-style, $style, webkit moz ms o spec);
}

$min-width: 320px;
$max-width: 1260px;
$base-font-size: 14px;
$payment-icon-font-size: 30px;
$ease-out-quad: cubic-bezier(0.250, 0.460, 0.450, 0.940);

@mixin breakpoint($point) {
  @if $point == xl {
    @media (min-width: 1281px) { @content; }
  }
  @else if $point == l {
    @media (max-width: 1280px) { @content; }
  }
  @else if $point == m {
    @media (max-width: 1020px) { @content; }
  }
  @else if $point == s {
    @media (max-width: 770px) { @content; }
  }
  @else if $point == xs {
    @media (max-width: 540px) { @content; }
  }
}

@mixin hover($color, $property: color) {
  @if lightness($color) > 50% {
    #{$property}: darken($color,5%);
  } @else {
    #{$property}: lighten($color,6%);
  }
}

@mixin textHover($color, $property: color) {
  @if lightness($color) > 50% {
    #{$property}: darken($color,6%);
  } @else {
    #{$property}: lighten($color,25%);
  }
}

@mixin lt-ie9 {

  .lt-ie9 & {
    @content;
  }
}

@mixin lt-ie10 {

  .lt-ie10 & {
    @content;
  }
}

@mixin retina {

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  animation: #{$str};
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  }
  @-ms-keyframes $animation-name {
    @content;
  }
  @keyframes $animation-name {
    @content;
  }
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
%clearfix:before,
%clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

%clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
%clearfix {
    *zoom: 1;
}

/* General */

.hidden {
  opacity: 0;
  visibility: hidden;
}

/* Small caps */

%small-caps {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/* Typography */

%heading-text {
  font-family: $heading-font;
  font-weight: $heading-weight;
  color: $heading-color;

  
    @extend %small-caps;
  
}

%meta-text {
  font-family: $meta-font;
  font-weight: $meta-weight;
  color: $meta-color;

  
    @extend %small-caps;
  
}

%icon {
  font-family: 'chiko-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Masonry features */

%text-color {
  .color-white &,
  .color-white & a {
    color: #fff;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }

  .color-black &,
  .color-black & a {
    color: #000;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
  }
}

%left {
  
}

%right {
  
}

%bottom {
  

  
}


.gift-card-template {
  font-family: $body-font;

  a {
    text-decoration: none;
  }

  .btn {
    @extend %meta-text;
    background-color: #58686f;
    color: #fff;
    padding: 1.5em;
    font-size: 0.875em;
    line-height: 1;
    border-radius: 4px;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
  }

  .btn:hover {
    background-color: #414d53;
  }

  .wrap {
    width: 95%;
    max-width: 540px;
    margin: 0 auto;

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  @include keyframes(slideup) {
    0% {
      @include opacity(0);
      @include transform(translateY(200px) rotate(10deg));
    }

    60% {
      @include opacity(1);
      @include transform(translateY(-30px));
    }

    80% {
      @include transform(translateY(10px));
    }

    100% {
      @include transform(translateY(0) rotate(0deg));
    }
  }

  @include keyframes(popup) {
    0% {
      @include opacity(0);
      @include transform(translateY(30px));
    }

    60% {
      @include opacity(1);
      @include transform(translateY(-10px));
    }

    80% {
      @include transform(translateY(2px));
    }

    100% {
      @include transform(translateY(0));
    }
  }

  @include keyframes(container-slide) {
    0% {
      @include opacity(0);
      @include transform(rotate(0deg));
    }

    100% {
      @include transform(rotate(0deg));
    }
  }

  @include keyframes(fadeIn) {
    0% {
      @include opacity(0);
    }

    100% {
      @include opacity(1);
    }
  }

  header {
    text-align: center;
    padding: 3em 0;
    @include animation(fadein 0.5s ease-in-out both 0.4s);
  }

  .shop-title {
    font-family: $store-title-font;
    font-size: 2.25em;
    font-weight: 600;
    color: #bfbfbf;
    max-width: 300px;
    display: block;
    margin: 0 auto;
    
    &:hover {
      color: #999999;
    }

    img {
      max-height: 100%;
      margin: 0 auto;
    }
  }

  main {
    @include animation(slideup 0.8s ease-in-out);
  }

  .gift-card-outer-container {
    background-color: #34aadc;
    border-radius: 4px;
    box-shadow:0 0 0 1px rgba(0,0,0,0.1) inset;
    padding: 1em;
    @include animation(container-slide 0.8s ease-in-out);
  }

  .gift-card-inner-container {
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    border-radius: 2px;

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  .gift-card-header {
    border-bottom: 1px solid #f2f2f2;
    padding: 0.75em;
    display: block;
    overflow: hidden;
    position: relative;

    h2 {
      float: left;
      margin: 0.12em 0;
    }

    .tag {
      float: right;
    }
  }

  .tag {
    background-color: #bfbfbf;
    padding: 0.5em;
    padding-bottom: 0.35em;
    border-radius: 4px;
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #fff;
    line-height: 1;

    &.light {
      background: transparent;
      color: #bfbfbf;
      border: 1px solid #d9d9d9;
    }
  }

  .gift-card-holder {
    margin: 0.75em;
    margin-bottom: 1.25em;
    margin-top: 1.25em;
    position: relative;
    
    .corner {
      display: block;
      width: 47px;
      height: 47px;
      position: absolute;
      z-index: 2;

      &.top-left {
        background: url("//cdn.shopify.com/s/assets/gift-card/corner-top-left-1585103bdd46bf1297b88f31bdfce999.png") 0 0 no-repeat;
        top: -1px;
        left: -1px;
      }

      &.bottom-right {
        background: url("//cdn.shopify.com/s/assets/gift-card/corner-bottom-right-ba899b18631cb91859e186c2cc1c6970.png") 0 0 no-repeat;
        bottom: -1px;
        right: -1px;
      }
    }
  }

  .gift-card {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;

    &:before {
      content:  '';
      position: absolute;
      width: 100%;
      height: 100%;
      box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1);
      border-radius: 10px;
      z-index: 1;
      pointer-events: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      display: block;
    }

    img {
      border-radius: 10px;
      max-width: 100%;
    }
  }

  .gift-card-code-outer {
    position: absolute;
    bottom: 1em;
    text-align: center;
    width: 100%;

    &.medium {
      font-size: 0.875em;
    }

    &.small {
      font-size: 0.75em;
    }
  }

  .gift-card-code-inner {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    background-color: #fff;
    padding: 0.5em;
    border-radius: 4px;
    max-width: 450px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);

    strong {
      font-weight: 400;
      font-size: 1.875em;
      text-transform: uppercase;
      border-radius: 2px;
      border: 1px dashed #e5e5e5;
      padding: 0.4em 0.5em;
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto;
      color: #777;
      line-height: 1;
    }
  }

  .small .gift-card-code-inner {
    overflow: auto;
  }

  .disabled .gift-card-code-inner strong {
    color: #999;
    text-decoration: line-through;
  }

  .gift-card-code-inner span+span {
    margin-left: 0.25em;
  }

  .gift-card-amount {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 2.75em;
    padding: 0.4em 0.5em;
  }

  .gift-card-amount.medium {
    font-size: 2.25em;
  }

  .gift-card-amount strong {
    text-shadow: 3px 3px 0 rgba(0,0,0,0.1);
    display: block;
  }

  .tooltip {
    position: relative;

    &:hover .tooltip-container {
      display: block;
    }
  }

  .tooltip-container {
    display: block;
    position: absolute;
    top: -100%;
    right: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    top: -50%;
    margin-top: 0.25em;
    @include animation(popup 0.5s ease-in-out both 0.7s);
  }

  .tooltip-triangle {
    display: block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 5px solid #333;
    border-top: 5px solid rgba(51,51,51,0.9);
    position: absolute;
    left: 100%;
    bottom: 0;
    margin-left: -5px;
    margin-bottom: -5px;
  }

  .tooltip-label {
    display: block;
    position: relative;
    right: -50%;
    border: none;
    border-radius: 4px;
    background: #333;
    background: rgba(51,51,51,0.9);
    color: #fff;
    min-height: 14px;
    font-weight: 400;
    font-size: 0.4em;
    text-decoration: none;
    line-height: 16px;
    text-shadow: none;
    padding: 0.5em 0.75em;
    margin-left: 0.25em;
  }

  .gift-card-instructions {
    font-size: 0.875em;
    text-align: center;
    color: #999;
    margin: 0 0.75em 1.5em;
  }

  .gift-card-actions {
    border-top: 1px solid #f2f2f2;
    padding: 1.25em 0.75em;
    text-align: center;
    position: relative;
    display: block;
    overflow: hidden;
  }

  .action-link {
    font-size: 0.875em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #bfbfbf;
    margin-top: 1.75em;
    position: absolute;
    left: 1.25em;
    top: 1.25em;

    &:hover {
      color: #999;

      .ico-16 {
        opacity: 0.4;
      }
    }
  }

  .ico-16 {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    width: 17px;
    height: 17px;
    vertical-align: bottom;
    margin-bottom: -1px;
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-right: 0.5em;
    opacity: 0.25;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;

    &.print {
      background-image: url("//cdn.shopify.com/s/assets/gift-card/icon-print-164daa1ae32d10d1f9b83ac21b6f2c70.png");
    }
  }

  footer[role='contentinfo'] {
    text-align: center;
    padding: 3em 0;
    @include animation(fadein 0.5s ease-in-out both 0.4s);
    
    .gift-card-icon {
      width: 45px;
      display: inline-block;
      vertical-align: baseline;
      zoom: 1;
      *display: inline;
      *vertical-align: auto;
    }
  }

  @media screen and (max-width: 580px){
    body {
      font-size: 12px;
    }

    h2 {
      font-size: 1.5em;
    }

    .gift-card-outer-container {
      padding: 0.5em;
    }

    .tooltip-container {
      top: -65%;
    }

    .gift-card-actions .btn {
      width: 100%;
      padding-left: 0
      ;padding-right: 0;
      font-size: 1.125em;
    }

    .action-link {
      position: relative !important;
      left: auto !important;
      right: auto !important;
      top: auto !important;
      font-size: 1.125em;
      display: none;
    }

    .action-link + .action-link {
      margin-left: 1.5em;
    }
  }

  @media screen and (max-width: 400px){
    h2 {
      font-size: 1.25em;
    }

    .gift-card {
      font-size: 10px;
    }

    .gift-card-holder .corner {
      display: none;

      &.bottom-right {
        background-position: bottom right !important;
      }
    }

    .gift-card-amount strong {
      text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
    }

    .tooltip-container {
      top: -75%;
    }
  }

  @media screen and (max-height: 800px){
    .shop-title {
      max-height: 100px;
    }
  }

  @media screen and (max-height: 750px){
    .shop-title {
      max-height: 80px;
    }

    header {
      padding: 2em 0;
    }
  }

  @media print{
    @page {
      margin: 0.5cm;
    }

    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }

    h2,
    h3 {
      page-break-after: avoid;
    }

    body {
      background-color: #fff;
    }

    .gift-card-actions,
    .gift-card-holder .corner,
    .tooltip-container,
    .gift-card:before {
      display: none;
    }

    .gift-card-code-inner strong {
      color: #555;
    }

    .gift-card-amount .tooltip {
      color: #fff !important;
    }

    .shop-title {
      color: #58686f;
    }

    .gift-card-outer-container,
    .gift-card-inner-container,
    .gift-card-code-inner,
    .gift-card:before {
      box-shadow: none;
    }
  }
}